$body-color: #333;
$primary-color: #203bd4;

body {
  color: $body-color;
  font-family: sans-serif;
}

a {
  color: $primary-color;
}

.app-icon-sample {
  max-width: 512px;
  width: 100%;
  height: auto;
}
